/*
  Josh's Custom CSS Reset (I love his reset)
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  object-fit: cover;
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* End of CSS Reset */

header {
  padding: 2em 1em;
  border-bottom: 1px solid #242424;
}

.headerLayout {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerImgLink {
  text-decoration: none;
  width: 40%;
  max-width: 200px;
}

.navLayout {
  width: 55%;
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLayout a {
  color: #6b6b6b;
  font-weight: 500;
  font-size: .9rem;
}

.navLayout a:hover, .navLayout a:focus {
  color: #242424;
}

/* ------------------------------------- */

main {
  padding: 2em 1em;
  background-color: #f2f2f2;
}

.mainLayout {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mainImgContainer {
  width: 100%;
  border: 6px solid #242424;
  border-radius: 6px;
}

.mainLayout h1 {
  margin: .3em 0 0;
}

.mainLayout button {
  margin-top: 1em;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #0f730c;
  color: #ffffff;
  width: 100%;
  max-width: 300px;
  padding: 1em 0;
  border-radius: 30px;
  font-weight: 700;
  margin-bottom: 1em;
}

.mainLayout button:hover, .mainLayout button:focus {
  background-color: #0a6007;
  transform: scale(.99);
}

/* ----------------------------------------- */

#features {
  padding: 2em 1em;
  border-bottom: 1px solid #242424; 
}

.featuresLayout {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2em;
}

.feature {
  padding: 1.5rem 1rem;
  width: 90%;
  max-width: 400px;
  border: 1px solid #e6e6e6;
}

.featureImgContainer {
  width: 90%;
  margin: 0 auto 1em;
}

.featureText {
  padding: 0 .5em;
}

.featureText h2 {
  font-size: 1.2rem;
  margin-bottom: .25em;
  color: #292929;
}

.featureText p {
  font-size: .85rem;
  color: #757575;
}

/* ------------------------- */

#about {
  padding: 2em 1em;
  background-color: #000;
  color: #fff;
}

.aboutLayout {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutText {
  margin: .5em 0 4em;
}

.ytVideoContainer {
  width: 100%;
}

.ytVideoContainer iframe {
  object-fit: cover;
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/* ---------------------------- */

#contact {
  padding: 2em 1em;
  background-color: #000;
  background-image: url("./images/dotted-background.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  color: #fff;
}

.footerLayout {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footerLayout h2 {
  margin-bottom: 1.5em;
}

.personInfo {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1em;
  margin-bottom: 2.5em;
}

.avatarImgContainer {
  width: 50%;
  max-width: 200px;
}

.personInfoText {
  width: 100%;
}

.personInfoText h3 {
  font-size: 1.2rem;
}

.personInfoText p {
  font-size: .85rem;
  color: #bdbdbd;
}

.personInfoText a {
  display: block;
  width: 60%;
  margin: .5em auto;
  padding: .2em;
  background-color: #1f1f1f;
  border-radius: 64px;
  color: #bdbdbd;
  font-size: .9rem;
}
.personInfoText a:hover, .personInfoText a:focus {
  transform: scale(.98);
  background-color: #1b1b1b;
}